<body class="home-bg">
<form action="" class="home-form" id="home-form" method="post">
  <div class="home-post-board">
    <input type="submit" class="post-board-recent" value = "Recent Post">
    <input type="submit"  class="post-board-selected" value = "Selected Post">
    <% if logged_in? %>
      <a href="#" class="post-board-setting">My Setting</a>
    <% end %>
    <div class="post-board-search">
      <input type="text" class="search-input" name="search" placeholder="Search">
      <input type="submit" class="search-button" value="">
    </div>
    <a href="#" class="post-board-new">New Post</a>
    <div class="clear"></div>

    <% @posts.each do |post| %>
      <div class="home-post-card">
        <div class="post-card-image">
          <%= link_to User.find(post.author_id) do %>
            <%= gravatar_for User.find(post.author_id) %>
          <% end %>
        </div>
        <div class="post-card-title">
          <%= link_to post do %>
            <h4><%= post.title %></h4> 
          <% end %>
        </div>
        <div class="post-card-info">
          <div class="card-info-left">
            <p><%= User.find(post.author_id).name %></p>
            <p><%= post.created_at %></p>
            <p><%= post.topic %></p>
          </div>
          <div class="card-info-right">
            <div class="card-info-comment"><%= post.comment %></div>
            <div class="card-info-view"><%= post.view %></div>
          </div>
        </div>
      </div>
    <% end %>

  </div>
  <div class="home-info-board">

<!-- Recent Members -->

    <div class="info-board-members">
      <div class="info-board-title">
        <h4>Recent Members</h4>
      </div>
      <div class="info-board-main">

      <% 12.times do %>
      <a href="#">
        <div class="members-card">
          <div class="members-card-photo">
            <%= image_tag("rails.png", :alt => "photo") %>
          </div>
          <div class="members-card-name">Alex</div>
        </div>
      </a>
      <%end%>
        
        <div class="clear"></div>
      </div>
    </div>

    <!-- Topic-->

    <div class="info-board-topic">
      <div class="info-board-title">
        <h4>Topic</h4>
      </div>
      <div class="info-board-main">

        <% @topics.each do |t| %>
        <div class="topic-checkbox">
          <%= check_box_tag t.topic %>
          <%= label_tag t.topic,t.topic %>
        </div>
        <%end%>

        <div class="clear"></div>
      </div>
    </div>

<!-- Post -->

    <div class="info-board-post">
      <div class="info-board-title">
        <h4>Post</h4>
      </div>
      <div class="info-board-main">

      <% @toolbar_posts.each do |tb_post| %>
        <div class="info-board-post-card">
        <%= link_to tb_post do %>
            <div class="info-board-post-title"><%= tb_post.title %></div>
        <% end %>
        <div class="info-board-post-view"><%= tb_post.view %></div>
          <div class="clear"></div>
        </div>
      <%end%>
        <div class="clear"></div>
      </div>
    </div>

<!-- Link -->

    <div class="info-board-links">
      <div class="info-board-title">
        <h4>Links</h4>
      </div>
      <div class="info-board-main">
        <a href="https://apidock.com/rails">Rails</a>
        <a href="https://www.rmit.edu.au/">RMIT</a>
        <a href="https://github.com/">Github</a>
        <a href="https://heroku.com/">Heroku</a>
        <a href="https://www.google.com.au/">Google</a>
        <div class="clear"></div>
      </div>
    </div>

  </div>
  <div class="clear"></div>
</form>
</body>


<!--
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
-->