<body class="home-bg">
<form action="" class="home-form" id="home-form" method="post">
  <div class="home-post-board">
    <input type="submit" class="post-board-recent" value = "Recent Post">
    <input type="submit"  class="post-board-selected" value = "Selected Post">
    <% if logged_in? %>
      <a href="#" class="post-board-setting">My Setting</a>
    <% end %>
    <div class="post-board-search">
      <input type="text" class="search-input" name="search" placeholder="Search">
      <input type="submit" class="search-button" value="">
    </div>
    <%= link_to "New Post", newpost_path, class:"post-board-new" %>
    <div class="clear"></div>

    <% @posts.each do |post| %>
      <div class="home-post-card">
        <div class="post-card-image">
          <%= link_to User.find(post.author_id) do %>
            <%= gravatar_for User.find(post.author_id) %>
          <% end %>
        </div>
        <div class="post-card-title">
          <%= link_to post do %>
            <h4><%= post.title %></h4> 
          <% end %>
        </div>
        <div class="post-card-info">
          <div class="card-info-left">
            <%= link_to User.find(post.author_id) do %>
              <p><%= User.find(post.author_id).name %></p>
            <% end %>
            <p><%= post.created_at.in_time_zone("Melbourne").strftime("%Y-%m-%d %T") %></p>
            <p><%= post.topic %></p>
          </div>
          <div class="card-info-right">
            <div class="card-info-comment"><%= post.comment %></div>
            <div class="card-info-view"><%= post.view %></div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

<%= render 'layouts/right_side_bar' %>

  <div class="clear"></div>
</form>
</body>


<!--
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
-->