<body class="home-bg">
<form action="#" class="home-form" id="home-form" method="post">
  <div class="home-post-board">
    <input type="submit" class="post-board-recent" value = "Recent Post">
    <input type="submit"  class="post-board-selected" value = "Selected Post">
    <% if logged_in? %>
      <a href="#" class="post-board-setting">My Setting</a>
    <% end %>
    <div class="post-board-search">
      <input type="text" class="search-input" name="search" placeholder="Search">
      <input type="submit" class="search-button" value="">
    </div>
    <a href="#" class="post-board-new">New Post</a>
    <div class="clear"></div>

    <div class="home-post-card">
      <div class="post-card-image">
         <a href="#"><%= image_tag("rails.png", :alt => "comment") %></a>
      </div>
      <div class="post-card-title">
        <a href="#"><h4 href="#">This is only a test post</h4></a>
      </div>
      <div class="post-card-info">
        <div class="card-info-left">
          <p>Jack</p>
          <p>2020-05-22 03:23:48</p>
          <p>A.I.</p>
        </div>
        <div class="card-info-right">
          <div class="card-info-comment">36</div>
          <div class="card-info-view">685</div>
        </div>
      </div>
    </div>

<!-- Delete in next stage -->
<div class="home-post-card">
      <div class="post-card-image">
        <a href="#"><%= image_tag("rails.png", :alt => "comment") %></a>
      </div>
      <div class="post-card-title">
        <a href="#"><h4 href="#">This is another test post!</h4></a>
      </div>
      <div class="post-card-info">
        <div class="card-info-left">
          <p>Robin</p>
          <p>2020-05-23 12:30:05</p>
          <p>Game</p>
        </div>
        <div class="card-info-right">
          <div class="card-info-comment">14</div>
          <div class="card-info-view">400</div>
        </div>
      </div>
    </div>

  </div>
  <div class="home-info-board">

<!-- Recent Members -->

    <div class="info-board-members">
      <div class="info-board-title">
        <h4>Recent Members</h4>
      </div>
      <div class="info-board-main">

      <% 12.times do %>
      <a href="#">
        <div class="members-card">
          <div class="members-card-photo">
            <%= image_tag("rails.png", :alt => "photo") %>
          </div>
          <div class="members-card-name">Alex</div>
        </div>
      </a>
      <%end%>
        
        <div class="clear"></div>
      </div>
    </div>

    <!-- Topic-->

    <div class="info-board-topic">
      <div class="info-board-title">
        <h4>Topic</h4>
      </div>
      <div class="info-board-main">

        <div class="topic-checkbox">
          <%= check_box_tag 'AI' %>
          <label for="AI">A.I.</label>
        </div>

        <div class="topic-checkbox">
          <%= check_box_tag 'Rails' %>
          <label for="Rails">Rails</label>
        </div>

        <div class="topic-checkbox">
          <%= check_box_tag 'VR' %>
          <label for="VR">V.R.</label>
        </div>

        <div class="topic-checkbox">
          <%= check_box_tag 'RMIT' %>
          <label for="RMIT">RMIT</label>
        </div>

        <div class="topic-checkbox">
          <%= check_box_tag 'Game' %>
          <label for="Game">Game</label>
        </div>

        <div class="clear"></div>
      </div>
    </div>

<!-- Post -->

    <div class="info-board-post">
      <div class="info-board-title">
        <h4>Post</h4>
      </div>
      <div class="info-board-main">

        <div class="info-board-post-card">
          <a href="#"><div class="info-board-post-title">This is a VERY VERY VERY VERY VERY VERY VERY long post</div></a>
          <div class="info-board-post-view">1788</div>
          <div class="clear"></div>
        </div>

        <% 4.times do %>
          <div class="info-board-post-card">
            <a href="#"><div class="info-board-post-title">This is a test post</div></a>
            <div class="info-board-post-view">1500</div>
            <div class="clear"></div>
          </div>
        <%end%>
        
        <div class="clear"></div>
      </div>
    </div>

<!-- Link -->

    <div class="info-board-links">
      <div class="info-board-title">
        <h4>Links</h4>
      </div>
      <div class="info-board-main">
        <a href="https://apidock.com/rails">Rails</a>
        <a href="https://www.rmit.edu.au/">RMIT</a>
        <a href="https://github.com/">Github</a>
        <a href="https://heroku.com/">Heroku</a>
        <a href="https://www.google.com.au/">Google</a>
        <div class="clear"></div>
      </div>
    </div>

  </div>
  <div class="clear"></div>
</form>
</body>


<!--
<div class="center jumbotron">
  <h1>Welcome to the Sample App</h1>

  <h2>
    This is the home page for the
    <a href="https://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    sample application.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
-->