<body class="home-bg">
  <div class="home-post-board">
    <div class="post-board-radio" onClick="displayRecent()">
      <input type="radio" id="recent" name="display" value="recent" checked="checked" />
      <span>Recent Post</span>
    </div>
    <div class="post-board-radio" onClick="displaySelected()">
      <input type="radio" id="selected" name="display" value="selected" />
      <span>Selected Post</span>
    </div>
    <% if logged_in? %>
      <a href="#" class="post-board-setting">My Setting</a>
    <% end %>
    <div class="post-board-search">
      <%= form_tag("/search",method: :get) do %>
        <input type="text" class="search-input" name="search" placeholder="Search">
        <input type="submit" class="search-button" value="">
      <% end %>
    </div>
    <%= link_to "New Post", newpost_path, class:"post-board-new" %>
    <div class="clear"></div>

    <% @posts.each do |post| %>
      <%= content_tag :div, class: "home-post-card", id:"post-card-#{post.topic}" do %>
        <%= content_tag :div, class:"post-card-image" do%>
          <%= link_to User.find_by_id(post.user_id) do %>
            <%= gravatar_for User.find_by_id(post.user_id) %>
          <% end %>
        <% end %>
        <div class="post-card-title">
          <%= link_to post do %>
            <h4><%= post.title %></h4> 
          <% end %>
        </div>
        <div class="post-card-info">
          <div class="card-info-left">
            <%= link_to User.find_by_id(post.user_id) do %>
              <p><%= name_for User.find_by_id(post.user_id) %></p>
            <% end %>
            <p><%= post_created_time(post) %></p>
            <p><%= post.topic %></p>
          </div>
          <div class="card-info-right">
            <div class="card-info-comment"><i class="far fa-comment-alt"></i><%= post.comment %></div>
            <div class="card-info-view"><i class="far fa-eye"></i><%= post.view %></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

<%= render 'layouts/right_side_bar' %>
<div class="clear"></div>
</body>