<% provide(:title, 'Settings') %>
<%= render 'layouts/left_side_bar' %>

<div class="setting-main-panel">
  <ul class="panel-sub-nav">
    <li onClick="showInfo()">Personal Info</li>
    <li onClick="showAvatar()">Avatar</li>
    <li onClick="showPassword()">Password</li>
    <li onClick="showVerify()">Verification</li>
  </ul>
  <%= render'shared/error_messages' %>
  <div class="explanation-bar">You can modify your contract details below</div>
  <div class="update-field" id="edit-info">
  <%= form_for(@user) do |f| %>
    
    <div class="input-group">
     <span class="input-group-addon" id="basic-addon1">Username</span>
     <%= f.text_field :name,class:'form-control' %>
    </div>

    <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Email</span>
    <%= f.email_field :email,class:'form-control' %>
    </div>

    <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">Mobile</span>
    <%= f.phone_field :phone,class:'form-control' %>
    </div>

    <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">City</span>
    <%= f.text_field :address ,class:'form-control', placeholder: 'Address' %>
    </div>

    <div class="error-message-area">
    </div>


    <div class="panel panel-default text-panel">
    <div class="panel-heading">Personal Description</div>
    <%= f.text_area(:userbio, cols: 20, rows: 10, placeholder: 'Please enter your bio : )') %>
    
    </div>
    
    </div>

    <div class="update-field-avatar" id="edit-avatar">
      <label class="btn btn-default">
        Upload Image 
        <%= f.file_field :avatar ,class:'hidden-avatar-input'%>
      </label>
      <span class="size-constraint">no image than 2mb</span>
      <div class="user-icon-preview">
      <%= gravatar_for current_user %> 
      </div>
    </div>

    <div class="update-field-password" id="edit-password">
    <div class="input-group">
     <span class="input-group-addon password-field" id="basic-addon1">New Password</span>
     <%= f.password_field :password,class:'form-control' %>
    </div>

    <div class="input-group">
    <span class="input-group-addon password-field" id="basic-addon1">Confirm</span>
    <%= f.password_field :password_confirmation,class:'form-control' %>
    </div>
    </div>

    <div class="update-field-verification" id="edit-verification">

    <div class="input-group">
     <span class="input-group-addon student-field" id="basic-addon1">Student Name</span>
    <input type="text" class="form-control" placeholder="Your student name" aria-describedby="basic-addon1">
    </div>

    <div class="input-group">
    <span class="input-group-addon student-field" id="basic-addon1">Card Number</span>
    <input type="text" class="form-control" placeholder="Please enter student number" aria-describedby="basic-addon1">
    </div>

    <label class="btn btn-default">
        Upload Image 
        <%= f.file_field :verifycard ,class:'hidden-avatar-input'%>
      </label>
      <span class="size-constraint">no image than 2mb</span>
    <div class="student-card-field">
    
    <% if @user.verifycard.attached? %>
      <image src="<%=(url_for(@user.verifycard))%>" style="width:100%; height:100%;">
    <% else %>
    <%= image_tag('anonymous.png', draggable: "true", id: "anonymous") %>
    <% end %>
    </div>
    </div>
    
    <div class="confirm-button">
    <%= f.submit"Confirm",class:"btn btn-primary" %>
    </div>
  <% end %>
</div>

