<%provide(:title,'Sign up')%>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Sign up</h1>
        <%= form_for(@user,url: signup_path) do |f| %>
        <%= render 'shared/error_messages' %>
            <div class="new-user-inputs">
            <%= f.label :name %>
            <%= f.text_field :name, class:'form-control', placeholder: "Name will be displayed to others" %>
            <div class="clear"></div>
            </div>
            
            <div class="new-user-inputs">
            <%= f.label :email %>
            <%= f.email_field :email, class:'form-control', placeholder: "Your Email" %>
            <div class="clear"></div>
            </div>

            <div class="new-user-inputs">
            <%= f.label :password %>
            <%= f.password_field :password, class:'form-control', placeholder:"8-20 characters" %>
            <div class="clear"></div>
            </div>

            <div class="new-user-inputs">
            <%= f.label :password_confirmation,"Confirmation" %>
            <%= f.password_field :password_confirmation, class:'form-control', placeholder:"Double check your pass" %>
            <div class="clear"></div>
            </div>

            <div class="new-user-inputs">
            <%= f.label :phone %>
            <%= f.phone_field :phone, class:'form-control', placeholder:"Your Mobile Phone" %>
            <div class="clear"></div>
            </div>

            <div class="new-user-button">
                <%= f.submit"Create my account", class: "btn btn-primary" %>
            <div class="clear"></div>
            </div>

            <div class="link-to-login">
            <%= link_to "Already a user?", login_path, class: "link-to-login" %>
            </div>
        <% end %>

        <p ></p>
    </div>
</div>
