<%provide(:title,'New post')%>
<p class="post-form-title">Post</p>
    <div class="new-post-form">
    <%= render 'shared/post_error_messages' %>
        <%= form_for(@post,url: newpost_path) do |f| %>
        

            <div class = "new-post-row">
                <%= f.label :topic %>
                <%= f.select:topic, @topics.collect {|t| [ t.topic, t.topic ] },:include_blank => "===== Select =====",class:'form-control' %>
                <div class="clear"></div>
            </div>

            <div class = "new-post-row">
                <%= f.label :title %>
                <%= f.text_field :title, placeholder: "Enter post title here",class:'form-control' %>
                <div class="clear"></div>
            </div>

            <%= f.text_area :text, cols: 20, rows: 25, placeholder: "Enter your post here",class:'form-control' %>

            <div class = "new-post-row">
                <%= f.submit"Post", class: "post-form-submit" %>
                <%= link_to "Cancel", root_path, class: "post-form-cancel" %>
                <div class="clear"></div>
            </div>
        <% end %>
    </div>
